/* #invite_wrap .account_wrap .offset_5 .account_inner .account_box .xi-angle-down-min{transform: rotate(0deg);}
#invite_wrap .account_box .theme_2_back.on i{transform: rotate(180deg);} */
#pro_mode .account_wrap .account_inner{padding: 50px 0;}
#pro_mode .account_wrap .account_inner .account_deliver_tit_ffff{margin-bottom: 20px;}
#pro_mode .account_wrap .account_inner .account_deliver_txt{ font-size: 14px;  line-height: 22px;  color: #707070;  margin-bottom: 20px;  display: inline-block;}
